.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Defina uma altura adequada para a mensagem centralizada */
    font-size: 18px;
    color: #888;
  }
